#include "winres.h"
#include "modeless.h"

scrabble ICON    scrabble.ico

DLGBOX100 DIALOG 19, 12, 351, 168
STYLE DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Modeless Dialog Box Demo"
FONT 8, "MS Sans Serif"
MENU 1000
BEGIN
    GROUPBOX        "Group Box Control", GROUPBOX1, 13, 7, 99, 49
    AUTORADIOBUTTON "Radio Control 1", RADIOCONTROL1, 22, 22, 81, 10
    AUTORADIOBUTTON "Radio Control 2", RADIOCONTROL2, 22, 37, 81, 10
    CHECKBOX        "Check Box Control", CHECKBOX1, 14, 65, 75, 10
    CONTROL         "", SLIDER, "msctls_trackbar32", 0x0 | WS_CLIPSIBLINGS | WS_TABSTOP | TBS_AUTOTICKS, 13, 94, 100, 18, WS_EX_CLIENTEDGE
    LTEXT           "Slider Control", LABELSLIDER, 15, 82, 67, 12
    CONTROL         "", PROGRESSCTL, "msctls_progress32", 0x0 | WS_CLIPSIBLINGS, 13, 133, 101, 11, WS_EX_CLIENTEDGE
    LTEXT           "Progress Control", LABELPROGRESS, 17, 121, 91, 10
    CONTROL         "", RECTANGLE, "Static", SS_BLACKFRAME, 123, 11, 106, 14
    CONTROL         "", SOLIDRECTANGLE, "Static", SS_BLACKRECT, 123, 31, 106, 15
    EDITTEXT        EDITCONTROL1, 124, 66, 106, 12, ES_AUTOHSCROLL | WS_TABSTOP | NOT WS_BORDER, WS_EX_CLIENTEDGE
    LTEXT           "Edit Control", LABELEDIT, 126, 54, 72, 10
    DEFPUSHBUTTON   "Push Button 1", PUSHBUTTON1, 124, 90, 106, 14
    PUSHBUTTON      "Push Button 2", PUSHBUTTON2, 124, 110, 106, 14
    PUSHBUTTON      "Push Button 3", PUSHBUTTON3, 124, 130, 106, 14, BS_FLAT
    LTEXT           "Progress Control", 119, 16, 120, 91, 10
    EDITTEXT        EDITBOX2, 241, 12, 97, 45, ES_MULTILINE | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP | NOT WS_BORDER, WS_EX_CLIENTEDGE
    COMBOBOX        COMBOCONTROL, 242, 66, 100, 34, CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    SCROLLBAR       HORZSCROLLBAR, 241, 134, 90, 10
    SCROLLBAR       VERTSCROLLBAR, 331, 88, 9, 46, SBS_VERT
END
1000 MENU
BEGIN
    POPUP "&File"
        BEGIN
        MENUITEM "&New", MENUNEW
        MENUITEM "&Open", MENUOPEN
        END
END
