#include "winres.h"

scrabble ICON    scrabble.ico

100 DIALOG DISCARDABLE  0, 0, 308, 190
STYLE DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Tabbed Dialog Control"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "Tab1",110,"SysTabControl32",0x0,7,7,294,176
END

101 DIALOG DISCARDABLE  50, 50, 186, 94
STYLE DS_CONTROL | WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        111,72,22,107,14,ES_AUTOHSCROLL
    EDITTEXT        112,72,59,107,14,ES_AUTOHSCROLL
    LTEXT           "Label",113,7,25,19,8
    LTEXT           "Label",118,7,62,19,8
END

102 DIALOG DISCARDABLE  50, 50, 186, 95
STYLE DS_CONTROL | WS_CHILD
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "Radio1",114,"Button",BS_AUTORADIOBUTTON,7,15,39,10
    CONTROL         "Radio2",115,"Button",BS_AUTORADIOBUTTON,7,35,39,10
    CONTROL         "Radio3",116,"Button",BS_AUTORADIOBUTTON,7,55,39,10
    CONTROL         "Radio4",117,"Button",BS_AUTORADIOBUTTON,7,75,39,10
END

